.job-application-form {
  font-family: 'Mulish', sans-serif;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-application-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.job-application-form p {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
}

.job-application-form .icon {
  margin-right: 15px;
  font-size: 16px;
  color: #555;
}

.job-application-form .icon::before {
  content: '📍';
  margin-right: 5px;
}

.job-application-form .form-group {
  margin-bottom: 20px;
}

.job-application-form .form-label {
  font-weight: bold;
}

.job-application-form .form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.job-application-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.job-application-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

@media (max-width: 768px) {
  .job-application-form {
    padding: 15px;
  }

  .job-application-form h1 {
    font-size: 20px;
  }

  .job-application-form p {
    flex-direction: column;
  }

  .job-application-form .icon {
    margin-bottom: 10px;
  }
}
